pytorch-lightning[deepspeed]
tokenizers
transformers>=4.38.0
datasets>=2.14.0
evaluate==0.3.0
scikit-learn==1.5.1
tensorboard==2.10
jinja2
jellyfish
sentencepiece
# needs hf accelerator
peft
einops
# for chrf evalator
sacrebleu
# for install google-research/rouge
rouge-score
